<div id="app">
    <div class="leftBigContainer">
        <div class="topBarLeft">
            <div class="tbLeftContainer">
                <div class="profileContainer">
                    <img class="profile" src="/assets/img/pp.png" alt="" srcset="">
                    <h3 style="padding: 10px; font-weight: 700;">{{authService.userData.name||""}}</h3>
                </div>
                <div class="leftRightIcons">
                    <div class="statusContainer">
                        <svg id="df9d3429-f0ef-48b5-b5eb-f9d27b2deba6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="#919191" d="M12.072 1.761a10.05 10.05 0 0 0-9.303 5.65.977.977 0 0 0 1.756.855 8.098 8.098 0 0 1 7.496-4.553.977.977 0 1 0 .051-1.952zM1.926 13.64a10.052 10.052 0 0 0 7.461 7.925.977.977 0 0 0 .471-1.895 8.097 8.097 0 0 1-6.012-6.386.977.977 0 0 0-1.92.356zm13.729 7.454a10.053 10.053 0 0 0 6.201-8.946.976.976 0 1 0-1.951-.081v.014a8.097 8.097 0 0 1-4.997 7.209.977.977 0 0 0 .727 1.813l.02-.009z"></path><path fill="#009588" d="M19 1.5a3 3 0 1 1 0 6 3 3 0 0 1 0-6z"></path></svg>
                    </div>
                    <div class="newChatContainer">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="#919191" d="M19.005 3.175H4.674C3.642 3.175 3 3.789 3 4.821V21.02l3.544-3.514h12.461c1.033 0 2.064-1.06 2.064-2.093V4.821c-.001-1.032-1.032-1.646-2.064-1.646zm-4.989 9.869H7.041V11.1h6.975v1.944zm3-4H7.041V7.1h9.975v1.944z"></path></svg>
                    </div>
                    <div class="center">
               
                        <!-- -----------CERRAR SESION DROPDOWN-----------  -->
                        <button mat-icon-button [matMenuTriggerFor]="beforeMenu" aria-label="Example icon button with a vertical three dot icon">
                          <mat-icon>more_vert</mat-icon>
                        </button>
            
                        <mat-menu #beforeMenu="matMenu" xPosition="before">
                          <button mat-menu-item >Nuevo grupo</button>
                          <button mat-menu-item >Crear una sala</button>
                          <button mat-menu-item  (click)="openDialog()">Agregar Usuarios</button>
                          <button mat-menu-item  (click)="openDialogPerfil()">Perfil</button>
                          <button mat-menu-item >Archivados</button>
                          <button mat-menu-item >Destacados</button>
                          <button mat-menu-item >Configuración</button>
                          <button mat-menu-item  (click)="authService.logout()">Cerrar sesión</button>
                        </mat-menu>
                    </div>
                </div>
            </div>
        </div>
        <div class="searchBarContainer">
          <input [(ngModel)]="textoBuscar" type="text" class="searchContact" placeholder="Buscar o empezar un chat nuevo" />
            <div class="searchIcon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="#919191" d="M15.009 13.805h-.636l-.22-.219a5.184 5.184 0 0 0 1.256-3.386 5.207 5.207 0 1 0-5.207 5.208 5.183 5.183 0 0 0 3.385-1.255l.221.22v.635l4.004 3.999 1.194-1.195-3.997-4.007zm-4.808 0a3.605 3.605 0 1 1 0-7.21 3.605 3.605 0 0 1 0 7.21z"></path></svg>
            </div>
        </div>
        <div class="inboxChat">
            <app-inbox-chat *ngFor="let user of _users.chats|filtroUsuarioChat:textoBuscar; let i = index" (click)="onSelectInbox(user.chatUid,authService.currentUser)" 
            profilePic="/assets/img/ppRightBar.png" 
            [name]="user.customName" 
            msgTime="11:13" 
            msgPreview="nada..." 
            [isRead]="true" >
          </app-inbox-chat>
          <h2 [hidden]="!textoBuscar">Mensajes</h2>
          <div style="margin-left: 10px;" class="mensaje" *ngFor="let mensaje of _users.chatsCrudosAux|filtroBuscarMensajes:textoBuscar">
            <h4>{{mensaje.enviadoPor}}</h4>
            <p [hidden]="!textoBuscar" >{{mensaje.content}}</p>
          </div>
          
        </div>
    </div>
    <div class="rightBigContainer">
        <app-chat-area chatUid="-MLBFK-gOZAP6JH_cHoH" [title]="currentChat.title" [icon]="currentChat.icon" [msgs]="currentChat.msgs"></app-chat-area>
    </div>
</div>


<div class="modal" id="perfil">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Modal title</p>
      <button class="delete" aria-label="close" (click)="openModal('perfil')"></button>
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" (click)="openModal('perfil')">Save changes</button>
      <button class="button">Cancel</button>
    </footer>
  </div>
</div>