<h2 mat-dialog-title>Agregar Usuario</h2>
<mat-dialog-content class="mat-typography">
<mat-list role="list">
    <mat-list-item *ngFor="let user of _usersList.usuarios" role="listitem">{{user.name}}
        <span class="example-spacer"></span>
        <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="_usersList.crearChat(user,_auth.currentUid)" >chat</mat-icon>
        <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="_usersList.agregarUsuario()" >person_add</mat-icon>
    </mat-list-item>
  </mat-list>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
</mat-dialog-actions>
